/* Styling the button. change size of button and color */
.btn { font-size: 20px;
  color: #000080;
  background-color: #ffffff;
  border-color: #000080;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.btn:hover {
    background-color:#000080;
    color: white;
}

/* changing color of jumbotron to green and white*/
.jumbotron{
    background-color: #F2F5FA;
    color: #000080;
}

/* changing color of striped table*/
.table-striped tr:nth-child(odd){
      background-color: #a5bdf5 !important; 
}